<div class="col-md-4 col-md-offset-4">
  <div class="EditProfile">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :first_name, placeholder: 'First Name' %>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.text_field :image, placeholder: 'Image URL' %>
      <%= f.form_group :role, label: { text: "Role" } do %>
        <%= f.radio_button :role, false, label: "Student" %>
        <%= f.radio_button :role, true, label: "Instructor" %>
      <% end %>
      <%= f.form_group :course, label: { text: "Course" } do %>
        <%= f.radio_button :course, 'WDI', label: "WDI" %>
        <%= f.radio_button :course, 'UXDI', label: "UXDI" %>
        <%= f.radio_button :course, 'DSI', label: "DSI" %>
      <% end %>
    <br>
    <div class="FormButtons">
      <%= f.submit @user.new_record? ? "Create Account" : "Update Profile"  %>
      <%= button_to "Cancel", :back, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md" %>
    </div>
    <% end %>
    <br>
  </div>
</div>
