<div class="flash-message-container">
  <%= flash_messages %>
</div>

<div class="col-md-4 user-info-column">
  <%= image_tag("#{@user.image}", width: "200px", height: "200px", alt: "Profile Picture") %>
  <h3><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h3>
  <!-- instructor's page -->
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <div class="row">
      <div class="well col-sm-10 col-sm-offset-1">
        <legend>Students</legend>
        <div class="col-sm-12">
          <% @user.friends.each do |f| %>
            <%= link_to image_tag(f.image, width: "50px"), user_path(f) %><br>
            <%= link_to f.first_name.titleize + " " + f.last_name.titleize, user_path(f) %>
          <% end %>
        </div>
      </div>
    </div>

  <!-- student's page -->
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <%= @user.email %>
    <div class="row">
      <div class="well col-sm-10 col-sm-offset-1">
        <legend>
          Instructors
          <%= link_to instructors_path do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </legend>
        <div class="col-sm-12">
          <% @user.friends.each do |f| %>
            <%= link_to image_tag(f.image, width: "50px"), user_path(f) %><br>
            <%= link_to f.first_name.titleize + " " + f.last_name.titleize, user_path(f) %>
          <% end %>
        </div>
      </div>
    </div>

  <!-- instructor looking at student page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == true && @user.role == false %>
    <% if current_user.friends_with?(@user) %>
      <%= button_to "Remove Student", remove_student_path, class: "ruby-link btn btn-info btn-danger btn-md" %>
    <% end %>
    <div class="row">
      <div class="well col-sm-10 col-sm-offset-1">
        <legend>Instructors</legend>
        <div class="col-sm-12">
          <% @user.friends.each do |f| %>
            <%= link_to image_tag(f.image, width: "50px"), user_path(f) %><br>
            <%= link_to f.first_name.titleize + " " + f.last_name.titleize + " ( )", user_path(f) %>
          <% end %>
        </div>
      </div>
    </div>

  <!-- student looking at instructor page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == false && @user.role == true %>
    <% if current_user.friends_with?(@user) == true %>
      <button type="button" name="button" class="followBtn" disabled="disabled">Following</button>
    <% elsif @user.requested_friends.include? current_user %>
      <button type="button" name="button" class="pendingBtn" disabled="disabled">Pending Request</button>
    <% else %>
      <%= button_to "Follow", add_instructor_path, {class: "ruby-link btn btn-info btn-default btn-md"} %>
    <% end %>

  <!-- instructor looking at instructor page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == true && @user.role == true %>
    <h4>Instructor of: <%= @user.course %></h4>
    <div class="row">
      <div class="well col-sm-10 col-sm-offset-1">
        <legend>Students</legend>
        <div class="col-sm-12">
          <% @user.friends.each do |f| %>
            <%= link_to image_tag(f.image, width: "50px"), user_path(f) %><br>
            <%= link_to f.first_name.titleize + " " + f.last_name.titleize, user_path(f) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-7 user-content-column">
  <!-- create post only if current user is instructor -->
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <div class="row instructor-tweet">
      <h1>Remind students to:</h1>
      <div class="row">
        <aside class="well col-md-9">
          <section class="tweet_form">
            <%= render './tweets/tweet_form', :tweet => @user.tweets.build %>
          </section>
        </aside>
      </div>
    </div>
  <% end %>

  <!-- instructor -->
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 user-feed">
        <h3>Announcements (<%= @user.tweets.count %>)</h3>
        <% if @user.tweets.count > 0 %>
          <ol class="tweets">
            <%= render @tweets.order(:created_at).reverse_order %>
          </ol>
        <% end %>
      </div>
    </div>

  <!-- student -->
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <div class="row">
      <div class="col-md-10 user-feed">
        <h3>Feed</h3>
          <ol class="tweets">
            <% @instructor_tweets.sort_by(&:id).reverse_each do |g| %>
              <li id="tweet-<%= g.id %>">
                  <%= image_tag("#{g.user.image}", width: "80px", height: "80px", alt: "Profile Picture") %><br>
                  <%= link_to g.user.first_name.titleize + " " + g.user.last_name.titleize + " (" + g.user.course + ")", g.user %>

                  <span class="content"><%= g.content %></span>
                  <span class="timestamp">
                    Posted <%= time_ago_in_words(g.created_at) %> ago.
                  </span>

              </li>
            <% end %>
          </ol>
      </div>
    </div>

  <!-- instructor viewing student page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == true && @user.role == false %>
    <div class="row">
      <div class="col-md-8 user-feed">
        <h3>Instructors are unable to see student feeds</h3>
      </div>
    </div>

  <!-- student viewing instructor page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == false && @user.role == true %>
    <% if current_user.friends_with?(@user) %>
      <div class="row">
        <div class="col-md-8 user-feed">
          <h3>Feed</h3>
            <ol class="tweets">
              <% @user.tweets.sort_by(&:id).reverse_each do |g| %>
                <li id="tweet-<%= g.id %>">
                  <%= image_tag("#{g.user.image}", width: "80px", height: "80px", alt: "Profile Picture") %>
                  <span class="user"><%= link_to g.user.first_name.titleize, g.user %></span>
                  <span class="content"><%= g.content %></span>
                  <span class="timestamp">
                    Posted <%= time_ago_in_words(g.created_at) %> ago.
                  </span>
                </li>
              <% end %>
            </ol>
        </div>
      </div>
    <% else %>
      <h3>Feed only available for students</h3>
    <% end %>
  <!-- student looking at student page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == false && @user.role == false %>
    <div class="row">
      <div class="col-md-8 user-feed">
        <h3>Unable to view feed</h3>
      </div>
    </div>

  <!-- instructor looking at instructor page -->
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == true && @user.role == true %>
    <div class="row">
      <div class="col-md-8 user-feed">
        <h3>Instructors are unable to see announcements of other instructors</h3>
      </div>
    </div>
  <% else %>
    <h3>Please sign up to view</h3>
    <ul>
      <%= button_to "Sign Up Here", new_user_path, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md" %>
    </ul>
  <% end %>
</div>
