<div class="flash-message-container">
  <%= flash_messages %>
</div>

<div class="col-md-4" style='background:blue'>
  <%= image_tag("#{@user.image}", width: "200px", alt: "Profile Picture") %>
  <h3><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h3>
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <li>I am an instructor</li>
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <%= @user.email %>
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == false %>
    <%= button_to "Follow" %>
  <% else %>
    <li>hi</li>
  <% end %>
</div>

<div class="col-md-7" style='background:red'>
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_area :email, placeholder: 'test' %>
    <% end %>
    <%= @user.friends.each do |f| %>
      <%= f.first_name %>
    <% end %>
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <ul>
      <li>I am a student</li>
      <li>Placeholder for instructor tweets</li>
      <%= @user.friends.each do |f| %>
        <%= f.first_name %>
      <% end %>
      <!-- <%= for i in 0..@user.friends.length do %>
        <%= @user.friends[i] %>
      <% end %> -->
      <li><%= @user.friends.first.first_name %> </li>
    </ul>
  <% else %>
    <ul>
      <li>Sign up</li>
    </ul>
  <% end %>
</div>

<div class="col-md-1" style='background:green'>
  <div class="container">
    <h1>test</h1>
  </div>
</div>
