<h1>TEST</h1>
<div class="container">
  <ul>
    <li><%= @user.first_name %></li>
    <li><%= @user.last_name %></li>
    <li><%= @user.email %></li>
    <li><%= @user.password_digest %></li>
    <li><%= @user.image %></li>
    <li><%= @user.role %></li>
    <li><%= @user.course %></li>
  </ul>
</div>
