<div class="flash-message-container">
  <%= flash_messages %>
</div>

<div class="col-md-4" style='background:lightblue'>
  <%= image_tag("#{@user.image}", width: "200px", alt: "Profile Picture") %>
  <h3><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h3>
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <li>I am an instructor</li>
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <%= @user.email %>
  <% elsif current_user != nil && current_user.id != @user.id && current_user.role == false && @user.role == true %>
    <% if current_user.friends_with?(@user) == true %>
      <button type="button" name="button" class="followBtn" disabled="disabled">Following</button>
    <% elsif @user.requested_friends[0] == current_user %>
      <button type="button" name="button" class="pendingBtn" disabled="disabled">Pending Request</button>
    <% elsif @user.requested_friends[0] != current_user %>
      <%= button_to "Follow", add_instructor_path, {class: "ruby-link btn btn-info btn-default btn-md"} %>
    <% end %>
  <% else %>
    <li>hi</li>
  <% end %>
</div>

<div class="col-md-7" style='background:red'>
  <% if current_user != nil && current_user.id == @user.id && current_user.role == true %>
    <h4>Form to tweet</h4>
    <h4>Students</h4>
    <% @user.friends.each do |f| %>
      <li><%= f.first_name.titleize %> <%= f.last_name.titleize %></li>
    <% end %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= @user.first_name.titleize %>
          </h1>
        </section>
      </aside>
      <div class="col-md-8">
        <% if @user.tweets.any? %>
          <h3>Tweets (<%= @user.tweets.count %>)</h3>
          <ol class="tweets">
            <%= render @tweets %>
          </ol>
        <% end %>
      </div>
    </div>
  <% elsif current_user != nil && current_user.id == @user.id && current_user.role == false %>
    <ul>
      <li>I am a student</li>
      <li>Placeholder for instructor tweets</li>
      <h4>Instructors</h4>
      <% @user.friends.each do |f| %>
        <%= f.first_name.titleize %> <%= f.last_name.titleize %>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <li>Sign up</li>
    </ul>
  <% end %>
</div>

<div class="col-md-1" style='background:green'>
  <div class="container">
    <h1>test</h1>
  </div>
</div>
