<!DOCTYPE html>
<html>
<head>
  <title>Homeroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="col-md-12">
    <header>
      <div class = "nav-div">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="col-xs-12 navbar-header" style="padding-left:-10px">
            <div class="col-xs-3 pull-left">
              <a href="/" class="navbar-brand"><img class = "img-responsive" src="http://i.imgur.com/TwxOi2O.png"></a>
            </div>
            <div class="col-xs-9 pull-right">
              <ul class="nav navbar-nav v-align pull-right">
                <% if current_user %>
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.first_name.titleize %>! <span class="glyphicon glyphicon-user pull-right"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to current_user.first_name.titleize + "\'s Profile", user_path(current_user)%></li>
                      <li class="divider"></li>
                      <li><%= link_to "Profile Settings", edit_user_path(current_user) %></li>
                      <% if current_user != nil && current_user.role == true %>
                        <li class="divider"></li>
                        <li><%= link_to "Friend Requests", follow_user_path(current_user) %></li>
                      <% end %>
                      <li class="divider"></li>
                      <li><%= link_to "Log Out", logout_path %></li>
                    </ul>
                  </li>
                </ul>
                <% else %>
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Log In", new_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>


    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="col-md-12">
          <p>// Coded by Daniel Oh [2016] //</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
